/* common shared style */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {

    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
}

/*nav related style*/
nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 200px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* header related style*/
.header {
    background-color: #fff8f3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    justify-content: space-between;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .profile-pic {
    width: 500px;
}

.banner-content {
    max-width: 500px;
}

.banner-greeting {
    font-size: 45px;
    vertical-align: bottom;
}

.banner-title {
    font-style: normal;
    font: size 85px;
    font-weight: 700;
    margin-top: 5%;
    margin-bottom: 20px;
}

/* main section styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}




/* about section style */
.about {
    border-radius: 10px;
    padding: 130px;
    background: #9bafe6;
    margin: 130px 0;
}

.about-info-container {
    display: flex;
    justify-content: space-around;

}

.about-info {
    text-align: center;

}

/* Skills related style */
#what-i-do-description {
    padding: 30px 150px;
}

.skills-container {
    display: flex;
    gap: 25px;

}

.skill {
    padding: 30px;

    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}

.skills-description {
    color: #757575;
}

/* resume section style */
.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-container {
    display: flex;
    gap: 50px;
}

.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.resume-item-description{
    margin-bottom: 20px;
    margin-top: 0px;
}
.resume-item-institute,
.resume-item-description{
    color: #757575;
}
.resume-container hr{
    margin: 30px;
}

.download-cv{
    text-align:center;
    margin-top: 50px;
}